body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit"
}

h1{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 20px;
}

p {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    font-size: 15px;
}

div{
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
}

.container{
    text-align: center;
}

img{
    border-radius: 15px;
    max-width: 90%;
}

.qr-code{
    
}