*{
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit"
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    margin: 2px auto;
    text-align: center;
    width: 323px;
    height: 500px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 18px;
    box-shadow: 5px 5px hsl(218, 44%, 22%);
}

@media (min-width: 375px) and (max-width: 1440px){
    h1{
        margin: 0 auto;
        padding: 18px 0 17px 0;
        color: hsl(218, 44%, 22%);
        font-weight: 800;
        font-size: 20px;
        max-width: 260px;
    }
}

@media (min-width: 1440px){
    h1{
        margin: 0 auto;
        padding: 18px 0 17px 0;
        color: hsl(218, 44%, 22%);
        font-weight: 800;
        font-size: 22px;
        max-width: 260px;
    }
}

p {
    margin: 0 auto;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    font-size: 15px;
    max-width: 260px;
}

.qr-code{
    width: 288px;
    border-radius: 11px;
    margin-top: 16px;
}
