
/* For Mobile 
@media (min-width: 375px) and (max-width:1440px){
    body {
        background-color: hsl(212, 45%, 89%);
        font-family: "Outfit"
    }
    
    h1{
        color: hsl(218, 44%, 22%);
        font-weight: 700;
        font-size: 20px;
        max-width: 260px;
    }
    
    p {
        color: hsl(220, 15%, 55%);
        font-weight: 400;
        font-size: 15px;
        max-width: 260px;
    }
    
    div{
        background-color: hsl(0, 0%, 100%);
        border-radius: 15px;
    }
    
    .container{
        text-align: center;
        width: 323px;
    }
    
    img{
        border-radius: 15px;
        width: 288px;
        padding: 18px;
    }
} */

/* For Desktop */
@media (min-width: 1440px){
    body {
        background-color: hsl(212, 45%, 89%);
        font-family: "Outfit"
    }
    
    .container{
        width: 323px;
        height: 500px;
        background-color: hsl(0, 0%, 100%);
        border-radius: 15px;
        text-align: center;
        display: block;
    }
    
    h1{
        display: block;
        color: hsl(218, 44%, 22%);
        font-weight: 700;
        font-size: 20px;
        max-width: 260px;
        margin: 0 auto 0 auto;
        padding: 10px;

    }
    
    p {
        display: block;
        color: hsl(220, 15%, 55%);
        font-weight: 400;
        font-size: 15px;
        max-width: 260px;
        margin: 0 auto 0 auto;
        padding: 10px;
    }
    
    .qr-code{
        display: block;
        border-radius: 10px;
        margin: 18px auto 18px auto;
        padding: 18px 18px 0px 18px;
        max-width: 288px;
        max-height: 288px;
    }
}